body{
    font-family: 'DM Mono', monospace;
    border:0;
    padding: 0;
    margin: 0;
}

li{
    font-size: large;
}

.navbar-item{
    font-size: 20px;
    color: grey;
}

.navbar-nav{
    padding-left: 15px;
}

.navbar{
    width: 100%;
}


.navlink:visited{
    color:honeydew;
}

.navlink:link{
    color:honeydew;
    text-decoration: none;
}

.navlink:hover{
    color: darkslategray;
}

@media (min-width: 600px) and (max-width:768px){
    .button-responsive{
        padding:2px 4px;
        font-size:80%;
        line-height: 1;
        border-radius:3px;
    }

    .input-responsive{
        padding: 2px; 
    }
}

.heroimg{
    height: 100vh;
    background: url("../heroimg.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div .col-12{
    color: #fff;
    text-align: center;
    display: block;
    position: relative;
    top: 300px;
}

.modal-body input{
    display: block;
}

.margin{
    margin-top: 10%;
}